<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>New Activity</title>
    <link rel="stylesheet" href="/activities/css/new.css">
  </head>
  <body>
    <h1>New Activity</h1>
    <TMPL_IF NAME="error">
      <p class="error"><TMPL_VAR NAME="error"></p>
    </TMPL_IF>
    <form action="/activities" method="POST">
      <p><input type="text" name="date" placeholder="Date (yyyymmdd)" value="<TMPL_VAR NAME="date">" /></p>
      <p><textarea name="body" placeholder="Body"><TMPL_VAR NAME="body"></textarea></p>
      <p><input type="password" name="password" placeholder="Password" /></p>
      <ul class="buttons">
        <li><input type="submit" value="Submit" /></li>
      </ul>
    </form>
  </body>
</html>
